<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qm.module_juggle">

    <application>

        <activity android:name=".ui.JuggleActivity" />

        <activity
            android:name=".ui.JuggleDialogActivity"
            android:theme="@style/home_loading" />

        <activity
            android:name=".ui.JuggleDialogShowActivity"
            android:theme="@style/home_dialog" />

        <activity android:name=".qr.QRActivity" />

        <activity
            android:name=".player.PlayerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity android:name=".bigpic.BigPicActivity" />
    </application>

</manifest>
