*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.apk
/.idea
.externalNativeBuild

/library/*.iml
/library/.gradle
/library/local.properties
/library/.idea
/library/.DS_Store
/library/build
/library/captures
/library/*.apk

